.produc_list {
    .main {
        .main_container {
            background-color: $color-beige-2;
            .section_03 {
                .main_text{
                    position: relative;
                    font-size: 65px;
                    max-width: 1000px;
                    margin: 0 auto;
                    text-align: center;
                    z-index: 200;
                    color: $color-blue;
                    line-height: 1.2;
                    font-weight: $bold;

                    span{
                        color: $color-orange;
                    }
                }

                .map{
                    display: none;

                    @include media-query(tablet) {
                        display: block;
                        margin: 0 auto;
                        margin-top: 80px;
                        padding-bottom: 100px;
                    }
                    
                    &.mobile {
                        display: block;
                        margin: 0 auto;
                        margin-top: 80px;
                        padding-bottom: 100px;

                        @include media-query(tablet) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}